.root{
	-fx-background-color :#ffeaa7 ;
}



.label{
	-fx-text-fill : Black ;
	-fx-font-size:  24pt ;
	
	-fx-font-family: "Times New Roman";
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
	font-style: italic;
	
}

#main-title{
	-fx-text-fill :#ffeaa7;
	-fx-font-size:  35pt ;
	-fx-font-weight: bold;
	-fx-font-family: "Times New Roman";
	
}
.sub-title{
	-fx-text-fill :#ffeaa7;
	-fx-font-size:  20pt ;
	-fx-font-weight: bold;
	-fx-font-family: "Times New Roman";
}



